

#navbar {
    width: 100%;
    background: #333;
    overflow: hidden;
    position: fixed;
    z-index: 1000;
}

#navbar li {
    float: left;
}

#navbar li.right {
    float: right;
}

#navbar li a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
}

#navbar li a.active {
    background: green;
}

#navbar li a:hover:not(#navbar li a.active) {
    background: #111;
}

#infoBox {
    position: absolute;
    top: 70px;
    left: 10px;
    z-index: 1000;
    width: 200px;
}

#infoBox li + li {
    margin-top: 10px;
}

#infoBox .info-wrap,
#infoBox .info-btn {
    display: block;
    width: 100%;
    background: #fff;
    padding: 10px;
    border: 1px solid;
    color: #000;
    box-sizing: border-box;
}

#infoBox .info-wrap .info-tit {
    font-weight: 700;
}

#infoBox .info-btn {
    text-align: center;
    font-weight: 700;
}

#map { 
    width:100%;
    height:100vh;
}

.marker {
    width: 15px;
    height: 15px;
    background: green;
    border: 1px solid;
    border-radius: 50%;
}

.infowindow,
.infowindow-wrap {
    background: #fff;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.infowindow-wrap .title {
    font-size: 1.5rem;
    font-weight: 700;
}

.infowindow-wrap .address {
    font-size: 1.3rem;
    font-weight: 400;
}

.info .body {
    position: relative;
    overflow: hidden;
}

.info .desc {
    position: relative;
    padding: 8px 0 0 90px;
    height: 75px;
    display: block;
}

.map-wrap, 
.map-wrap * {
    padding: 0;
    margin: 0;
    font-size: 1.2rem;
}

#searchWrap {
    position: absolute;
    top: 52px;
    left: 0;
    bottom: 0;
    width: 200px;
    padding: 5px;
    overflow-y: auto;
    background: rgba(255, 255, 255, 0.77);
    z-index: 3;
    font-size: 1.2rem;
    box-sizing: border-box;
}

#searchWrap.type2 {
    top: 140px;
}

.keyword-box {
    font-weight: 700;
}

.keyword-box #keyword {
    box-sizing: border-box;
    width: 100%;
    font-weight: 500;
}

.ser-bth,
#moreBtn {
    display: block;
    width: 100%;
    text-align: center;
    padding: 0 5px;
    background: lightgray;
    margin: 5px auto;
    font-size: 1.5rem;
    font-weight: 700;
    color: #000;
    box-sizing: border-box;
}

#searchWrap hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid #5f5f5f;
    margin: 0;
}

#placesList .item {
    position: relative;
    border-bottom: 1px solid #888;
    overflow: hidden;
    cursor: pointer;
    width: 100%;
}

#placesList .item span {
    display: block;
    margin-top: 4px;
}

#placesList .item .info {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding: 5px;
}

#placesList .item .info-title {
    font-weight: 700;
}

.cluster {
    border-radius: 50%;
    color: #fff;
    text-align: center;
    font-weight: 700;
    font-size: 1.0rem;    
}

.cluster1 {
    width: 25px;
    height: 25px;
    line-height: 26px;
    background: rgba(11, 252, 107, 0.7);
}

.cluster2 {
    width: 30px;
    height: 30px;
    line-height: 31px;
    background: rgba(249, 26, 6, 0.7);
}

.cluster3 {
    width: 35px;
    height: 35px;
    line-height: 36px;
    background: rgba(253, 232, 4, 0.7);
}

.current {
    display: block;
    width: 50px;
    height: 50px;
    cursor: pointer;
    border-radius: 50%;
    text-align: center;
    padding: 5px;
    border: 1px solid red;
    box-shadow: 0 0 0 rgb(204, 49, 44);
    animation: pulse 1.7s infinite;
}

#upload-box {
    padding: 10px 5px;
    font-size: 1.3rem;
}

#upload-box .insert-btn {
    background: #333;
    color: #fff;
    padding: 5px 10px;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(204, 49, 44, 0.4);
    }

    70% {
        box-shadow: 0 0 0 20px rgba(204, 49, 44, 0);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(204, 49, 44,0);
    }
}

#pagination {
    margin:10px auto;
    text-align: center;
}

#pagination a {
    display:inline-block;
    margin-right:10px;
}
#pagination .on {
    font-weight: bold; 
    cursor: default;
    color:#777;
}

.tooltip {
    display:none;
    position:absolute;
    z-index:1000;
    padding:5px 10px;
    background:#fff;
    border:1px solid;
    font-size:1.4rem;
    pointer-events: none;
}


#categoryWrap { 
    width: 100%;
    position: absolute;
    top: 50px;
    background: #fff;
    z-index: 1000;
}

#categoryWrap ul::after {
    content: '';
    display: block;
    clear: both;
}

#categoryWrap ul li {
    float: left;
    width: 25%;
}

#categoryWrap ul li a {
    display: block;
    padding: 10px;
    text-align: center;
    border: 1px solid;
}


#categoryWrap ul li a:hover {
    font-weight: 700;
}

#resInfowindow {
    width: 25rem;
    border: 1px solid;
    background: #fff;
}

#resInfowindow .infowindow-img-container {
    width: 100%;
    overflow: hidden;
}

#resInfowindow .infowindow-img-container img {
    width: 100%;
    
}

#resInfowindow .infowindow-body {
    padding: 5px;
    color: #000;
}

#resInfowindow .infowindow-body .infowindow-title {
    font-size: 1.6rem;
    font-weight: 700;
}

#resInfowindow .infowindow-body .infowindow-address {
    font-size: 1.4rem;
}

#resInfowindow .infowindow-body .infowindow-btn {
    font-size: 1.4rem;
}